SECRET_KEY = 'my_secret_key'
ALLOWED_HOSTS = '127.0.0.1, localhost, *'

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
